h1 {
  text-align: center;

}

/*add a ton more css */

img {
  margin: 0% 7%;
  width: 40%;
  height: 40%;
  float: left;
}


.container {
  height: 380px;
  width: 400px;
  background-color: gray;
  float: right;
  margin: 0% 3%;
}

